/* ResponsiveNavbar.css */
.navbar {
    background-color:#d5b9cf; /* Dark background */
    color: white; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Existing padding */
    margin: 10px 20px; /* Add margin for space around the navbar */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: calc(100% - 80px); /* Adjust width to account for horizontal margins */
    border-radius: 10px;
}

.logo {
    height: 8%;
    width: 5%;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #6a195d;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: auto;
    font-weight: 900;
}

.nav-link.active {
    border-bottom: 2px solid rgb(54, 6, 54); /* Purple underline */
}

.nav-link:hover {
    background-color: #d32ea1; /* Light blue on hover */
}

.nav-button {
    display: none; /* Hidden on larger screens */
}

@media (max-width: 500px) {
    .nav-button {
        display: block; /* Show button on small screens */
    }
    .nav-links {
        display: none; /* Hide links by default */
        flex-direction: column;
        position: absolute;
        background-color: #1a1a1a; /* Match navbar background */
        top: 60px; /* Position below navbar */
        right: 0; /* Align to the right */
        width: 100%; /* Full width */
        padding: 10px 0; /* Padding for the dropdown */
    }
    .nav-links.open {
        display: flex; /* Show links when open */
    }
}
